<div class="gdpr">
    <div class="gdpr__middle">
        <div style="display: table;">
            <div class="gdpr__title" translate>Welcome to Avira</div>
            <div class="gdpr__description">
                <p translate>Phantom VPN uses the data you share with us to offer you better services and security functionalities.</p>
                <br>
                <p translate>By proceeding, you are confirming that you have read and accepted the <a href='#' ng-click="openEula()">End User License Agreement (EULA)</a>, the <a href='#' ng-click="openTermsAndConditions()">Terms and Conditions</a> and our <a href='#' ng-click="openPrivacyAndPolicy()">Privacy Policy</a>.</p>
            </div>
            <div class="gdpr__footer">
                <button class="button button--full mbs " ng-click="accept()" translate>Accept and continue</button>
            </div>
        </div>
    </div>
</div>